# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - master
  
  pool:
    vmImage: 'ubuntu-latest'
  
  container: mcr.microsoft.com/dotnet/core/sdk:3.0
  
  steps:
  - script: echo Hello, world!
    displayName: 'Run a one-line script'
  
  - task: DotNetCoreCLI@2
    inputs:
      command: 'build'
  
  - task: DotNetCoreCLI@2
    inputs:
      command: 'test'
      projects: '**/*Tests*.csproj'
  
  - task: DotNetCoreCLI@2
    displayName: 'dotnet publish'
    inputs:
      command: publish
      publishWebProject: false
      projects: '**/WebApi.csproj'
      argument: '--configuration release --output $(Build.ArtifactStagingDirectory)'
      zipAfterPublish: true
      
  - task: PublishBuildArtifacts@1
    displayName: 'publish artifact'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'publish package'