# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - master
  
pool:
    vmImage: 'ubuntu-latest'

variables:
    buildConfiguration: 'Release'

steps:
  - script: echo Hello, world!
    displayName: 'Run a one-line script'
  
  - task: DotNetCoreCLI@2
    inputs:
      command: 'build'
      arguments: '--configuration $(buildConfiguration)'
    displayName: 'dotnet build $(buildConfiguration)'
  
  - task: DotNetCoreCLI@2
    inputs:
      command: 'test'
      projects: 'Test*/*Tests*.csproj'
      arguments: '--configuration $(buildConfiguration)'
    displayName: 'Test task'
  
  - task: DotNetCoreCLI@2
    displayName: 'dotnet publish'
    inputs:
      command: publish
      publishWebProjects: true
      projects: 'WebApi/*.csproj'
      arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
      zipAfterPublish: true

  - task: PublishBuildArtifacts@1
    displayName: 'publish artifact'
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory'
      ArtifactName: 'czWebApiPackage'